# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_TOPIC=system-metrics-topic
KAFKA_GROUP_ID=monitoring-consumer-group-v1

# Producer
SEND_INTERVAL=1.0

# MongoDB Atlas
MONGODB_CONNECTION_STRING=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=kafka_monitoring

# Consumer
KPI_WINDOW_SIZE=20
